{% extends 'base.html' %}
{% block title %}
    Password Reset Form | {{ block.super }}
{% endblock title %}

{% block content %}
<div class="main-content position-relative" id="main-con tent" role="main">
    <div id="top"></div>
    <div>
        <section class="hardware border-bottom" id="hardware">
        <div class="content pad-vert-medium align-center">
            <h3 class="headline">Password reset form:</h3>
            <p>Passwords must be at least 10 charaters long.</p>
            <p>Passwords must have one: capital letter, underscore, digit and symbol (i.e. "*")</p>
            <p class="cta"><a class="arrow" href="{% url 'contact' %}">Contact us to get a free quote</a>
            </p>
            <div class="grid-1-at-medium grid-row-equal-heights align-center gap-top-small">
                <div class="column">
                    <form class="" role="form" action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
{% endblock content %}
