{% extends 'base.html' %}
{% block title %}
    Password Change Done | {{ block.super }}
{% endblock title %}

{% block content %}
<div class="main-content position-relative" id="main-con tent" role="main">
    <div id="top"></div>
    <div>
        <section class="hardware border-bottom" id="hardware">
        <div class="content pad-vert-medium align-center">
            <h3 class="headline">Password Change Done</h3>
            <p>Your password was changed.</p>
            <p class="cta"><a class="arrow" href="{% url 'contact' %}">Contact us to report any issuaes</a>
            </p>
            <div class="grid-1-at-medium grid-row-equal-heights align-center gap-top-small">
                <div class="column">
                    <a href="{% url 'home' %}"><h6>Return home!</h6></a>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
{% endblock content %}
