/* Base Styles -------------------- */

html *, html *:before, html *:after {
    -moz-box-sizing: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.onboarding {
    background: #fff;
}

body {
	font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: 300;
      color: #5f6a7d;
      background-color: #fafafa;
      margin-left: auto;
      margin-right: auto;
      max-width: 1680px;
      overflow-x: hidden;
      min-width: 320px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-smoothing: always;
      text-rendering: optimizeLegibility;
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: 100;
      font-size: 14px;
      line-height: 20px;
}

h6, .h6 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: 600;

}

a:hover, a:hover .link, a:focus, a:focus .link {
  color: #2586b7;
}
.show-time a, .show-time a .link {
  transition: color .15s linear;
}
a, a .link {
  color: #2996cc;
  font-weight: 600;
}
a {
  text-decoration: none;
}

#main-reachout {
  min-height: 100vh;
}

.contact-page {
  width: 100%;
  max-width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main,
menu, nav, section, summary {
  display: block;
}

.hero .content, .banner .content {
  position: relative;
  z-index: 2;
}

.banner {
	position: relative;
	z-index: 1;
	height: 42px;
	overflow: hidden;
	color: #fff;
	background: #0a705a;
  /***background-image: url('img-pattens/tools-pattern.png'), linear-gradient(-150deg, #00C1B6 0%, #136EB5 97%);  not needed***/
}
@media (min-width: 718px) {
  .banner {
    height: 73px;
  }
}

.banner .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
}

.content {
    width: 276px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1292px) {
  .content {
      width: 1016px;
  }
}

@media (min-width: 1024px) {
  .content {
      width: 868px;
  }
}

@media (min-width: 718px) {
  .content {
    width: 680px;
  }
}

@media (min-width: 480px) {
  .content {
    width: 424px;
  }
}

@media (min-width: 374px) {
  .content {
    width: 324px;
  }
}

.banner .column-left {
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex: 2;
    flex: 2;
}

@media (min-width: 718px) {
  .banner .column-left {
    -ms-flex-order: 1;
    order: 1;
  }
}

.banner .column-right {
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-order: 3;
    order: 3;
}

.banner .column-fill {
    margin-left: -5px;
    margin-right: -5px;
}
@media (min-width: 718px) {
  .banner .column-fill {
    -ms-flex: 2;
    flex: 2;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.banner .column {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}


.banner .column-logo {
    -ms-flex-order: 1;
    order: 1;
    margin-right: 10px;
}
@media (min-width: 718px) {
  .banner .column-logo {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 0;
  }
}

.show-time .banner a {
    transition: opacity .3s ease-in-out;
}

.banner a {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: inherit !important;
}

svg, .icon {
    display: inline-block;
}

img, svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


.banner a.logo svg {
    width: 28px;
    height: 28px;
}
@media (min-width: 718px) {
  .banner a.logo svg {
    width: 38px;
    height: 38px;
  }
}

.no-shrink {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
  padding: 10px;
}

.align-center-at-medium {
      text-align: center !important;
  }

hr {
  border: 0;
  height: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  margin: 50px 0;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.form-title {
    font-size: 35px !important;
    line-height: 35px;
    font-weight: 300;
    color: #282e36;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
p.required {
    margin-top: 8px;
}

form {
	margin-bottom: 60px;
}

.btn {
    display: inline-block;
    padding: 13px 25px;
    border: solid 1px #979797;
    font-family: helvetica-neue-bold,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    letter-spacing: .017em;
    color: #979797;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: all .2s cubic-bezier(.215,.61,.355,1);
    transition: all .2s cubic-bezier(.215,.61,.355,1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn:hover {
    text-decoration: none;
    color: #fff;
    border: solid 1px #505153;
    background-color: #505153;
}
.btn-primary {
    border-color: #00b28c;
    color: #fff!important;
    background: #18c8a2;
    background: -webkit-linear-gradient(top,#18c8a2 0%,#00b28c 100%);
    background: linear-gradient(to bottom,#18c8a2 0%,#00b28c 100%);
}
.btn-primary:hover {
    border-color: #00b28c;
    background: #00b28c;
    background: -webkit-linear-gradient(top,#00b28c 0%,#00b28c 100%);
    background: linear-gradient(to bottom,#00b28c 0%,#00b28c 100%);
}
.log-in-out-btn {
    height: 50px;
    margin-top: .8rem!important;
}
/* Form Fields -------------------- */

input,
textarea {
  font-size: 14px;
  color: black;
  font-weight: 300;
  width: 100%;
  border: 1px solid #e0e2e3;
  height: auto;
  padding: 9px 8px 7px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: 2px;
  /**** not needed border-bottom: 3px solid rgba(0,0,0, 0.05); *****/
  background: 0 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

textarea#msg {
  max-width: 100%;
  height: 100px;
}

label {
  display: block;
  margin-bottom: 0.5em;
}


/* Media Queries -------------------- */

@media (max-width: 768px) {
	#container {
		width: 92%;
	}
}

.text-align-center {
    text-align: center;
}

.piu-space-down {
    margin-bottom: 20px;
    margin-top: 10px;
}

/************* selectors **********/

/* Attribute Selectors ------------- */

.form-contact, .form-login {
    padding: 2rem 3rem 1rem; /******36px;*******/
    background: #fff;
    border: 1px solid #e0e2e3;
}

#container {
    max-width: 540px;   /** altered 469px **/
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
}
@media (max-width: 374px) {
    width: 400px;
}

input[type=email]:active,
input[type=email]:focus,
input[type=text]:active,
input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


a[target="_blank"] {
  color: #39add1;
  text-decoration: none;
  border-bottom: 1px dotted;
}


/** DRY Classes --------------***/

.br {
  border-radius: 3px;
}

.avatar {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.rounded {
  border-radius: 50%;
}

.default {
  background-color: #2996cc;
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.error:hover {
  background-color: #ff8484;
  transition-duration: 0.09s;
}

label {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #5f6a7d;
}

/*** @media (min-width: 769px) {
  .inln {
    width: auto;
    display: inline-block;
  }
  .btn + .btn {
    margin-left: 20px;
  }
} ****/

/**** Combinators ******/

form > a {    /*** child selector ***/
  font-size: .7em;
}

/*** h2 ~ label {
  background: #012426;
  color: #fff;
  padding: 10px
} ****/

/**=========== Registration area ========**/
.span_4_of_6 {
    width: 66.13%;
}

.col {
    display: block;
    float: left;
    margin: 0 0 2%;
    padding-right: 2%;
}
.card {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    padding: 2rem 2rem 1rem;
    margin: 0 auto 2rem;
    position: relative;
    border: 1px solid #e8e8e8;
}
.large_bottom_padding {
    padding-bottom: 2rem!important;
}
.no_right_padding {
    padding-right: 0!important;
}
.no_left_padding {
    padding-left: 0!important;
}
.margin_auto {
    margin-left: auto!important;
    margin-right: auto!important;
}
.large_bottom_margin {
    margin-bottom: 2rem!important;
}
.align_center, .centered {
    text-align: center!important;
}
.float_none {
    float: none!important;
}
