{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Contact - {{ block.super }}
{% endblock title %}

<body>
    {% block content %}
    <div class="main-content position-relative" id="main-content" role="main">
        <div id="top"></div>
        <div>
            <section class="hardware border-bottom" id="hardware">
            <div class="content pad-vert-medium align-center">
                <h3>About page</h3>
                <p>About content.</p>
                {% include "includes/base_snippet.html" %}
        </div>
    {% endblock content %}
    {% block footer %}
    {% endblock footer %}
</body>
