{% extends 'inverted_base.html' %}
{% load staticfiles %}
{% load humanize %}

    {% block title %}
        {{ block.super }}
    {% endblock title %}
    {% block header %}{% endblock header %}

<body class="home-page tucked-hero">
    {% block content %}
    <div class="main-content position-relative" id="main-con tent" role="main">
        <div id="top"></div>
        <div>
            <section class="roof-view">
                    <div class="content pad-vert-medium align-left">
                      <div class="column hero-inverted">
                <h3 class="headline inverted">Save more on energy</h3>
                <h3 class="headline inverted">today with Sfair.</h3>
                <p class="inverted">Our solar panels not only generate energy on your roof, they can also generate cash in your pocket.</p>
                <p class="cta"><a class="arrow inverted" href="/contact/">Contact us to get a free quote</a>
                </p>
                  </div>
                </div>
            </section>
            <section class="hardware border-bottom" id="hardware">
            <div class="content pad-vert-medium align-center">
                <div class="grid-2-at-medium grid-row-equal-heights align-center gap-top-small">
                    <div class="column">
                        <a class="tile" href="{% url 'solarpanels' %}">
                            <div class="grid-space-base">
                                <div class="column">
                                    <div class="image reader-contactless-chip offset-horz-small"></div>
                                </div>
                                <div class="column">
                                    <h6>Solar Panels + Free Installation</h6>
                                </div>
                                <div class="column">
                                    <div class="cta">
                                        <div class="link arrow">Save with $0 down</div>
                                    </div>and control your energy costs.</div>
                                <div class="column">
                                    <div class="grid-auto grid-align-center grid-space-base">
                                        <div class="column">
                                            <div class="badge">Order now</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <p class="legal-text gray-muted">Integrated <strong>front skirts</strong> with redirected <strong>Plumbing vents</strong> (included)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a class="tile" href="{% url 'powerwall' %}">
                            <div class="grid-space-base">
                                <div class="column">
                                    <div class="image reader-contactless-chip-dock offset-horz-small"></div>
                                </div>
                                <div class="column">
                                    <h6>Power through any outage</h6>
                                </div>
                                <div class="column">
                                    <div class="cta">
                                        <div class="link arrow">With $0 down</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <p class="legal-text gray-muted">More <strong>power</strong>to feed<strong>your needs</strong>
                                    </p>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
           </div>
    </div>
    {% endblock content %}
