{% load staticfiles %}

<!DOCTYPE html>
<html class="locale-en-US js no-touch cssanimations csstransforms csstransforms3d csstransitions">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <link href="/static/images/fluid-logo.ico" rel="icon">
    <title>
        {% block title %}
            Clean Energy | Sfair, Inc.
        {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/inverted_nav.css' %}">
    {% block header %}
    {% endblock header %}
</head>
<body>
<nav class="top">
        <div class="content">
            <a href="{% url 'home' %}" class="inverted_logo" aria-label="Sfair homepage"></a>
		<ul>
			<li><a  href="{% url 'solarpanels' %}">Solar panels</a></li>
			<li><a  href="{% url 'powerwall' %}">Powerwall</a></li>
			{% if user.is_authenticated %}
			<li class= "mobile_btn download_sfair"><a  href="{% url 'auth_logout' %}" >Logout</a>
			</li>
			{% else %}
			<li class= "mobile_btn download_sfair"><a  href="{% url 'auth_login' %}">Login</a>
			</li>
			{% endif %}
			<li><a href="{% url 'pricing' %}" class="opt_nav_create ga_track_signup">Pricing</a>
			</li>
			{% if user.is_authenticated %}
			<li class="sign_in hide_on_mobile"><a href="{% url 'auth_logout' %}" class="btn_sticky btn_filled opt_nav_signin">Sign out</a>
			</li>
			{% else %}
			<li><a  href="{% url 'registration_register' %}" class="opt_nav_find">Register</a>
			</li>
			<li class="sign_in hide_on_mobile"><a href="{% url 'auth_login' %}" class="btn_sticky btn_filled opt_nav_signin">Sign in</a>
			</li>
			{% endif %}
			<li class="mobile_btn mobile_menu_btn"><a href="#" class="btn_sticky" >Menu</a>
			</li>
		</ul>
	</div>
</nav>
<nav class="top fixed">
	<a href="{% url 'home' %}" class="logo"></a>
	<ul>
		<li class= "mobile_btn download_sfair"><a  href="{% url 'home' %} ">Download Sfair</a>
		</li>
		<li class="mobile_btn mobile_menu_btn"><a href="#" class="btn_sticky">Menu</a>
		</li>
	</ul>
</nav>
{% block content %}
	<script src="{% static 'css/js'%}"></script> <!--Add the js file name etc-->
{% endblock content %}
<section>
	<footer class="site_footer">
		<div class="content">
		    <a href="{% url 'home' %}"><div class="footer_logo">&nbsp;</div></a>
			<div class="footer_items">
				<ul class="footer_nav">
				    <li class="footer_nav_item first"><a href="#">Blog</a></li>
				    <li class="footer_nav_item"><a href="{%url 'about' %}">Company</a></li>
				    <li class="footer_nav_item"><a href="{% url 'contact' %}">Contact</a></li>
				    <li class="footer_nav_item"><a href="#">Locations</a></li>
				    <li class="footer_nav_item"><a href="#">FAQS</a></li>
				    <li class="footer_nav_item"><a href="#">SfairHQ</a></li>
				</ul>
			</div>
			<div class="column social-links">
				<nav class="grid-auto grid-space-base grid-align-center grid-align-left-at-medium">
					<div class="column">
						<a href="https://twitter.com/fair"></a>
					</div>
					<div class="column">
						<a href="https://www.facebook.com/sfair"></a>
					</div>
					<div class="column">
						<a href="https://instagram.com/#"></a>
					</div>
					<div class="column">
						<a href="https://angel.co/#" class="angel-list" target="_blank"></a>
					</div>
				</nav>
			</div>
		</div>
	</footer>
</section>
</body>
</html>
