{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }}
{% endblock title %}
{% block header %}{% endblock header %}

{% block content %}
    <div class="main-content position-relative" id="main-content" role="main">
        <div id="top"></div>
        <div>
            <section class="powerwall border-bottom" id="solarpanels">
                <div class="content medium-padding align-center">
                    <div class="grid-2-at-medium align-center gap-top-small">
                        <div class="column">
                            <img src="/static/images/power_wall_night.jpg" alt="powerwall" height="960" width="540">
                        </div>
                        <div class="column gap-top-small">
                            <h1>Power through any outage</h1>
                            <h5>A Sfair Solar powerwall gives you a peace of mind</h5>
                            <button type="button" class="btn btn-primary log-in-out-btn">Order today with $0 down</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="greyish-bg">
                <div class="content medium-padding align-center">
                    <div class="grid-1-at-medium align-center gap-top-small">
                        <div class="column">
                            <p class="piu-space-down text-align-center">Contact us<a href="{% url 'contact' %}" class="bold"> today</a> to learn more.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}
