{% extends 'base.html' %}
{% load staticfiles %}

    {% block title %}
        {{ block.super }}
    {% endblock title %}
    {% block header %}{% endblock header %}

<body class="home-page tucked-hero">
    {% block content %}
    <div class="main-content position-relative" id="main-content" role="main">
        <div id="top"></div>
        <div>
            <section class="pricing border-bottom" id="solarpanels">
            <div class="content pad-vert-medium align-center">
                <h3 class="headline">Pricing</h3>
                <h3 class="headline">Pricing</h3>
                    </div>
                </div>
                </section>
            </div>
        </div>
    {% endblock content %}
