{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }}
{% endblock title %}
{% block header %}{% endblock header %}

{% block content %}
    <div class="main-content position-relative" id="main-content" role="main">
        <div id="top"></div>
        <div>
            <section class="solarpanels border-bottom" id="solarpanels">
                <div class="content medium-padding align-center">
                    <div class="grid-1-at-large align-center gap-top-small">
                        <iframe class="panel-video" width="960" height="520" src="https://www.youtube.com/embed/VZjEvwrDXn0?autoplay=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </section>
            <section class="greyish-bg">
                <div class="content medium-padding align-center">
                    <div class="greyish-bg intro">
                        <div class="column">
                            <h1>Save with Gambia’s #1 solar provider</h1>
                            <p class="cta"><a class="arrow" href="/contact/">Contact us to get a free quote</a>
                        </div>
                    </div>
                    <div class="grid-2-at-medium grid-row-equal-heights align-center gap-top-small">
                        <div class="column">
                            <a class="" href="/shop/reader-offer">
                                    <img src="/static/images/solar_grid_connection.jpg" alt="Solar panels">
                            </a>
                        </div>
                        <div class="column">
                            <a class="" href="#">
                                <img src="/static/images/solar-panel-04.jpg" alt="Solar panels">
                            </a>
                            <div class="column">
                                <h6>Our solar panels can last for 30 yrs</h6>
                            </div>
                            <div class="column">
                                <p class="cta"><a class="arrow inverted" href="#">Order for free today!</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-1-at-medium align-center gap-top-small">
                        <img src="/static/images/solar-advantage.png" alt="Sfair Solar panels">
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}
