{% extends 'myaccount.html' %}
{% load staticfiles %}

<body>
    {% block content %}
    <div id="signup_graphics_pane" class="fs_split_pane fs_split_pane_right" data-step="">
        <div class="fs_split_flex_wrapper">
            <div class="fs_split_header">
                <div id="find_team">
                    <a href="#" class="account_link">Make payment</a>
                    <a href="{% url 'myaccount' %}" class="account_link">My account</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'auth_logout' %}" id="find_team_link">Log out</a>
                    {% else %}
                    <a href="{% url 'auth_login' %}" id="find_team_link">Login</a>
                    {% endif %}
                </div>
            </div>
            <div class="section_content gap-bottom">
                <p class="inverted">Sfair is <strong>free</strong> to use for as long as you want for teams of all sizes.</p>
                <div class="ion-android-calendar inverted">
                    Week <span class="gap-left-base ion-android-sunny">Sunny</span>
                </div>
                <a href="/create" class="btn btn_large small_top_margin inverted" data-qa="create_team_bottom">This week</a>
                <h1 class="gap-top-small inverted">Energy production....</h1>
                <div class="column">
                    <h6>It's only a few steps</h6>
                    {% if user == profile.user %}
                    <h5><a href="{% url 'edit_profile' slug=profile.slug %}">Update</a>
                        my profile
                    </a></h5>
                    {% endif %}
                </div>
        </div>
        <div class="grid-2-at-small grid-3-at-large grid-row-equal-heights">
                        <div class="column indigo-theme">
                            <a class="tile full-bleed" href="#">
                                <div class="image pad-top-base theme-muted-bg"></div>
                                <div class="copy pad-line">
                                    <h6 class="gap-none">Payments</h6>
                                    <p class="gap-none">My payment history</p>
                                    <p class="cta gap-none"><span class="link arrow">Learn More</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="column indigo-theme">
                            <a class="tile full-bleed" href="#">
                                <div class="image pad-top-base theme-muted-bg"></div>
                                <div class="copy pad-line">
                                    <h6 class="gap-none">Dashboard</h6>
                                    <p class="gap-none">Make better energy decisions</p>
                                    <p class="cta gap-none"><span class="link arrow">Learn More</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="column purple-theme">
                            <a class="tile full-bleed" href="#">
                                <div class="image pad-top-base theme-muted-bg"></div>
                                <div class="copy pad-line">
                                    <h6 class="gap-none">Savings</h6>
                                    <p class="gap-none">How much I saved this month</p>
                                    <p class="cta gap-none"><span class="link arrow">
                                        Learn More</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
            <div class="fs_split_footer"></div>
        </div>
    </div>
    {% endblock content %}
</body>
